@use "sass:meta";

#log > div {
  padding-left: var(--padding, 0px);
}

#log > div > span:first-child {
  margin-left: calc(var(--padding, 0px) * -1);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  text-shadow:
    0 0 1px #000,
    0 0 2px #000;
  background: var(--background-color, rgba(0, 0, 0, 0));
  font-family: var(--font-family, "Roboto");
  font-weight: 700;
  font-size: var(--font-size, 22px);
  line-height: 1.5em;
  color: var(--text-color, #fafafa);
}

#log > div {
  animation:
    fadeInRight 0.3s ease forwards,
    fadeOut 0.5s ease var(--message-hide-delay, 99999999s) forwards;
  -webkit-animation:
    fadeInRight 0.3s ease forwards,
    fadeOut 0.5s ease var(--message-hide-delay, 99999999s) forwards;
}

.colon {
  display: none;
}

#log {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 10px 10px;
  width: 100%;
  table-layout: fixed;
}

#log > div.deleted {
  visibility: hidden;
}

#log img.emoji {
  display: inline-block;
  height: 1.4em;
  position: relative;
  vertical-align: middle;
  top: -0.1em;
}

#log .emote {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0.4em 0.2em;
  position: relative;
}

#log .emote img {
  display: inline-block;
  height: 1em;
  opacity: 0;
}

#log .message,
#log .meta {
  vertical-align: top;
  padding-bottom: 0.1em;
}

#log .meta {
  text-align: right;
  padding-right: 0.5em;
  white-space: nowrap;
}

#log .message {
  overflow-wrap: break-word;
}

.badge {
  display: inline-block;
  margin-right: 0.2em;
  position: relative;
  height: 1em;
  vertical-align: middle;
  top: -0.1em;
}

.name {
  margin-left: 0.2em;
}

span.modified-emote[data-effects] {
  background-image: none !important;
}

.modified-emote[data-effects] > img {
  height: 1.4em !important;
  vertical-align: bottom;
  opacity: 1 !important;
}
.modified-emote[data-effects].emote > img {
  margin-bottom: 1px;
}

@include meta.load-css("./features/ffz.css");

/* addition by wizulus: */
body {
  filter: drop-shadow(-1px 0 0px black) drop-shadow(1px 0 0px black)
    drop-shadow(0 -1px 0px black) drop-shadow(0 1px 0px black)
    drop-shadow(-1px 1px 0px black) drop-shadow(-1px -1px 0px black)
    drop-shadow(1px -1px 0px black) drop-shadow(1px 1px 0px black);
}
.twitch-chat {
  padding: 1px;
}
